#Form .Form-field {
	margin: 8px 0;
}

#Form{
	margin: 8px auto;
	width: 10%;
}

#Form .Form-field label{
	text-align: left;
}

#Form .Form-field  input, #Form .Form-field  textarea, #Form .Form-field  label {
	display: block;
}

#Form .Form-field input{
	margin: 0;
    width: 100%;
    height: 25px;
    border-color: black;
}

#Form .Form-field textarea{
	border-color: black;
    border-width: 2px;
    height: 50px;
}

#Form .Form-button{
	width: 100%;
    padding: 10px 0;
    background-color: black;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
#Form .Form-button:disabled {
    background-color: gray;
    color: #fff;
    cursor: not-allowed;
}


